Standard ignores for Cloud Build submissions

Ignore the ignore file itself

.gcloudignore

Source Control and IDE

.git
.gitignore
.editorconfig
.vscode
.sublime-

Build artifacts and dependencies

pycache/
*.pyc
*.pyo
node_modules/
venv/
env/

Configuration and Documentation files

We only need to upload these if they are referenced internally by the code,

but for a standard build, we can ignore the top-level orchestration files.

/Makefile
/cloudbuild.yaml
/README.md
/LICENSE